@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.slider-container {

  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;  
  overflow: hidden;
  
}




.slider .slide-track {
  display: flex;  
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: 100%;
}



.slider .slide img {
  
  width: 50%;
  
}

@keyframes scroll {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  100% {
      -webkit-transform: translateX(calc(-100px * 10));
      transform: translateX(calc(-100px * 10));
  }
} */



@media (max-width: 1080px) {

.hide {

  display: none;
  
}


}

@media (max-width: 640px) {

  .hide-mc {
  
    display: none;
    
  }
  
  
  }

